services:
  gateway:
    build: ./GatewayServiceApi
    ports:
      - "8080:80"
    networks:
      - webnet

  email:
    build: ./Notification/EmailNotificationApi
    ports:
      - "8081:80"
    networks:
      - webnet

  messanger:
    build: ./Notification/MessangerNotificationApi
    ports:
      - "8082:80"
    networks:
      - webnet

  push:
    build: ./Notification/PushNotificationApi
    ports:
      - "8083:80"
    networks:
      - webnet

  sms:
    build: ./Notification/SMSNotificationApi
    ports:
      - "8084:80"
    networks:
      - webnet

  database:
    build: ./DatabaseService
    ports:
      - "8085:80"
    networks:
      - webnet

  postgres:
    image: postgres:17.0
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: NotificationBase
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d NotificationBase" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - webnet

networks:
  webnet:
    driver: bridge